// Global default params, used in configs
params {

  // Choose between "symlink" - absolute path, "rellink" -relative path, "link " -hard link, "copy"
  publish_dir_mode = "copy"

  // Workflow flags
 
  filtered_input_path_2019 = "/data/projects/2021/MicrobialMetabolites/single-cell-sorted-cd8/results/filtered/2019-10-29_sorted_cd8_filtered_merged_data.h5ad"
  raw_input_path_2019 = "/data/projects/2021/MicrobialMetabolites/single-cell-sorted-cd8/results/merged/2019-10-29_sorted_cd8_merged_data.h5ad"
  
  filtered_input_path_2021 = "/data/projects/2021/MicrobialMetabolites/single-cell-sorted-cd8/results/filtered/2021-02-01_sorted_cd8_til_filtered_merged_data.h5ad"
  raw_input_path_2021 = "/data/projects/2021/MicrobialMetabolites/single-cell-sorted-cd8/results/merged/2021-02-01_sorted_cd8_til_merged_data.h5ad"

  denoised_filtered_input_path_2019 = "/data/projects/2021/MicrobialMetabolites/single-cell-sorted-cd8/results/filtered/2019-10-29_sorted_cd8_adata_final_filtered.h5ad"
  denoised_filtered_input_path_2021 = "/data/projects/2021/MicrobialMetabolites/single-cell-sorted-cd8/results/filtered/2021-02-01_sorted_cd8_til_adata_final_filtered.h5ad"
  denoised_filtered_input_path_colon_and_tumor = "/data/projects/2021/MicrobialMetabolites/single-cell-sorted-cd8/results/filtered/colon_and_tumor_adata_final_filtered.h5ad"
  
  resDir                  = "/data/projects/2021/MicrobialMetabolites/single-cell-sorted-cd8/results"
}

process {



  // Per-process configuration
  //container = "/data/projects/2022/CRCA/envs/old_2023-crca-scanpy.sif"


   withName: ".*SCAR_2019" {
        publishDir = [
            path: { "${params.resDir}/${task.process.toLowerCase()}" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: ".*SCAR_2021" {
        publishDir = [
            path: { "${params.resDir}/${task.process.toLowerCase()}" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: ".*SOLO_2019" {
        publishDir = [
            path: { "${params.resDir}/${task.process.toLowerCase()}" },
            mode: params.publish_dir_mode,
        ]
    }

     withName: ".*SOLO_2021" {
        publishDir = [
            path: { "${params.resDir}/${task.process.toLowerCase()}" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: ".*SOLO" {
        publishDir = [
            path: { "${params.resDir}/${task.process.toLowerCase()}" },
            mode: params.publish_dir_mode,
        ]
    }
     withLabel: gpu {
        clusterOptions = { '-V -S /bin/bash -l gpu' }
        containerOptions = "--nv --no-home"
        cpus = 1 // For scVI reproducibility need to fix number of cpus
    }



  

 
}


conda {
    useMamba = true
    enabled = true
}

singularity {
    enabled = true
 
    runOptions = "--env NUMBA_CACHE_DIR=/data/scratch/kvalem/tmp/"
    autoMounts = true
}

profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'sge'
        process.penv = 'smp'
        process.queueSize = 600
        process.clusterOptions = { '-V -S /bin/bash -l gpu' }
        
    }
    conda {
        process {
            withName: SCAR_2019 {
            conda = '/home/kvalem/.conda/envs/single_cell_sorted_scvi_2023'
            }
        }
        process {
            withName: SCAR_2021 {
            conda = '/home/kvalem/.conda/envs/single_cell_sorted_scvi_2023'
            }
        }
        process {
            withName: SOLO_2019 {
            conda = '/home/kvalem/.conda/envs/single_cell_sorted_scvi_2023'
            }
        }
        process {
            withName: SOLO_2021 {
            conda = '/home/kvalem/.conda/envs/single_cell_sorted_scvi_2023'
            }
        }
        process {
            withName: SOLO {
            conda = '/home/kvalem/.conda/envs/single_cell_sorted_scvi_2023'
            }
        }
    }

}

