resume = true

params {
    input = "../tables/samplesheet_rnaseq.csv"
    outdir = "../data/10_rnaseq_pipeline"
    gtf = "/data/genomes/hg38/annotation/gencode/gencode.v33.primary_assembly.annotation.gtf"
    fasta = "/data/genomes/hg38/fasta/gencode/GRCh38.primary_assembly.genome.fa"
    star_index = "/data/genomes/hg38/index/STAR/2.7.4a/gencode/gencode.v33.GRCh38.primary_assembly.genome/200/"
    gencode = true
    publish_dir_mode = 'copy'
    modules {
      'salmon_quant' {
          args = "--noLengthCorrection"
       }
    }
}

process {
  withName:STAR_ALIGN {
     container = "https://depot.galaxyproject.org/singularity/star:2.7.7a--0"
  }
}
