// Global default params, used in configs
params {

  // Choose between "symlink" - absolute path, "rellink" -relative path, "link " -hard link, "copy"
  publish_dir_mode = "copy"

  // Workflow flags
  samplesheet_csv = "/data/scratch/kvalem/projects/2021/microbial-metabolites/preprocessing/40_single-cell-sorted-cd8/50_scrna_seq_by_sample/tables/samplesheet.csv"
 
  //input_path = "/data/projects/2021/MicrobialMetabolites/single-cell-sorted-cd8/scrna_seq_data/samples/*.h5ad"
  path_adata_denoised_after_qc = "/data/projects/2021/MicrobialMetabolites/single-cell-sorted-cd8/results/results_by_sample/quality_control"
  resDir                  = "/data/projects/2021/MicrobialMetabolites/single-cell-sorted-cd8/results/results_by_sample"
}


process {



  // Per-process configuration
  //container = "/data/projects/2022/CRCA/envs/old_2023-crca-scanpy.sif"


    withName: ".*FILTER_SAMPLE_ADATA" {
        publishDir = [
            path: { "${params.resDir}/${task.process.toLowerCase()}" },
            mode: params.publish_dir_mode,
        ]
    }  
    withName: ".*SCAR_BY_SAMPLE" {
        publishDir = [
            path: { "${params.resDir}/${task.process.toLowerCase()}" },
            mode: params.publish_dir_mode,
        ]
    } 
    withName: ".*QUALITY_CONTROL" {
        publishDir = [
            path: { "${params.resDir}/${task.process.toLowerCase()}" },
            mode: params.publish_dir_mode,
        ]
    } 
    withName: ".*MERGE_AND_SOLO_SAMPLES" {
        publishDir = [
            path: { "${params.resDir}/${task.process.toLowerCase()}" },
            mode: params.publish_dir_mode,
        ]
    } 
    withLabel: gpu {
        clusterOptions = { '-V -S /bin/bash -l gpu' }
        cpus = 6 // For scVI reproducibility need to fix number of cpus
    }
    


 
}


conda {
    useMamba = true
    enabled = true
}

singularity {
    enabled = true
 
    runOptions = "--env NUMBA_CACHE_DIR=/data/scratch/kvalem/tmp/"
    autoMounts = true
}

profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'sge'
        process.penv = 'smp'
        process.queueSize = 600
        process.clusterOptions = { '-V -S /bin/bash -l gpu' }
        
    }
    conda {
     
        process {
            withName: FILTER_SAMPLE_ADATA {
            conda = '/home/kvalem/.conda/envs/2022-default-scanpy'
            }
        }
        process {
            withName: SCAR_BY_SAMPLE {
            conda = '/home/kvalem/.conda/envs/single_cell_sorted_scvi_2023_002'
            }
        }
        process {
            withName: QUALITY_CONTROL {
            conda = '/home/kvalem/.conda/envs/2022-default-scanpy'
            }
        }
        process {
            withName: MERGE_AND_SOLO_SAMPLES {
            conda = '/home/kvalem/.conda/envs/scvi-2023-v2' 
            }
        }
    
    }

}

